body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #3498db, #e74c3c);
}

.container {
    text-align: center;
    background: linear-gradient(45deg, #3498db, #e74c3c);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    width: 400px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 20px;
    margin: 5px 0 10px;
    color: #00ffd5;   
}

#video-title {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    font-weight: bold; 
}


input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: rgb(116, 223, 135);
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s; 
}

button:disabled {
    background-color: #ddd;
    color: #666;
    cursor: not-allowed;
}


button:hover {
    background-color: #51ff00;
}

#answer-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    text-align: left;
    font-size: 18px;
    color: #000000;
    background-color: #fff;
}

#answer-container.placeholder {
    color: #999;
}