body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4c4949;
}

.container {
    text-align: center;
    background-color: #4c4949;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    width: 400px;
}

h1 {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin: 15px 0 10px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#answer-container {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
